body{
    background-color: rgb(36, 36, 118);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.Warn {
    font-family: fantasy;
    color: white;
}

.Title {
    font-size: 55px;
    text-underline-position: below;
    text-underline-offset: below;
}

.site1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    size: 400px;
    background: transparent;
    background-size: 1000px;
}

.MainTitle {
    font-size: 55px;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: azure;
}

.rules {
    background-color: black;
    border-radius: 9px;
    color: white;
    left: 100px;
    bottom: auto;
    unicode-range: U+180-24F;
}

.Ownedsites {
    background-color: black;
    border-radius: 9px;
    color-scheme: white;
    color: white;
}

.fourm {
    background-color: black;
    border-radius: 9px;
    color: white;
}

.Users {
    background-color: black;
    color: white;
    border-radius: 9pc;
}